.note_container{
    box-shadow: 8px 8px 8px lightgray;
    border-bottom: 0.5px solid darkgray;
    border-right: 0.5px solid darkgray;
    padding: 2px 2px 0 2px;
    border-radius: 5px;
    min-height: 200px;
    min-width: 180px;
    z-index: 1;
    margin-bottom: 20px;
    contain: content;

    .note_bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px 10px 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        z-index: 1;
        border-bottom: 0.5px solid lightgray;
        
        &:hover{
            cursor: move;
        }

        & .barButtons_container{       
            
            display: flex;
            justify-content: end;
            gap: 5px;         

        }

        & button{
            border: none;
            background-color: transparent;
            color: black;
            font-size: 16px;
            font-weight: 700;

           @media(pointer: fine) {
                &:hover{
                    cursor: pointer;
                    filter: drop-shadow(2px 2px 5px rgb(23, 22, 22));
                }
           }
        }

        & .share_button, .saveChanges_note{
            width: 30px;
            height: 30px;
        }
    }

    & .note_input{
        min-height: 200px;
        min-width: 180px;
        border: none;
        background-color: transparent;
        font-size: large;
        font-family: "Caveat", cursive;
        margin-left: 5px;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        
        &:focus{
            outline: none;
        }
    }
}