.controlPanel_Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 10px;
    min-height: 400px;
    min-width: 390px;
    filter: drop-shadow( 7px 7px 8px gray);

    & .controlPanel_tabs{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        padding: 15px ;
        width: 150px;
        background-color: whitesmoke;
        border-radius: 10px 0px 0px 10px;

        & .tab{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: black;
            width: auto;

            & .controlTabs_svg{
                width: 20px;
                height: 20px;
            }

            @media(pointer: fine){
                &:hover{
                   filter: drop-shadow(0px 0px 10px gray);
                }
            }

            &:focus{
               border-bottom: 1.5px solid gray;
            }
        }
    }

    & .tab_page{
        padding: 10px 10px 10px 20px;
        width: 250px;
        background-color: rgb(255, 255, 255);
        border-radius: 0px 10px 10px 0px;
    }
}