.updatePasswordForm_container{
    min-width: 390px;
    min-height: 300px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    & .updatePassword_form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        gap: 20px;

        & input{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid gray;
            &:focus{
                outline: none;
            }
        }

        & .updatePasswordButton_container{
            display: flex;
            gap: 15px;

            & button{
                border: none;
                border-radius: 5px;
                padding: 10px;
                font-weight: bold;
                color: darkslategray;

                &:hover{
                    cursor: pointer;
                }
            }

            & .updatePasswordSubmit_button{
                background-color: rgb(198, 240, 134);

                &:hover{
                    background-color: rgba(198, 240, 134, 0.72);
                }
            }
            
            & .updatePasswordCancel_button{
                background-color: rgb(246, 138, 138);

                &:hover{
                    background-color: rgba(244, 148, 148, 0.746);
                }
            }
        }
    }
}