.search_container{
    height: 100%;
    display: flex;
    gap: 5px;
    height: 30px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 10px;

    & .search_input{
        border: none;
        background-color: transparent;
        width: 250px;

        @media(pointer: coarse){
            width: 190px;    
        }

        &:focus{
            outline: none;
        }
    }

    & .mag_svg{
        width: 40px;
    }
}