.alert_container{
    position: absolute;
    z-index: 10;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(150deg, #7bb5d2, #006dA4);
    box-shadow: 2px 2px 20px gray;
    color: #B8E0F5;
    font-size: large;
    font-weight: 600;
    text-align: center;


    & .alertButtons_container{
        display: flex;
        justify-content: center;
        gap: 5px;

        & .alert_button{
            cursor: pointer;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: large;
            font-weight: 600;   
            color: #B8E0F5;
        }

        & .accept_button{
            background-color: #1C77A8;

            &:hover{
                // background-image: linear-gradient(150deg, #7bb5d2, #5babd4);
                background-color: #3A91C0;
                
            }
        }

        & .decline_button{
            border: 2px solid #3A91C0;
            background-color: transparent;

            &:hover{
                background-color: #3A91C0;
            }
        }
    }
    
}