.input_field{
    border: none;
    border-bottom: 0.1px solid lightgrey;
    text-align: center;
    background-color: transparent;
    margin: 10px auto;

    font-size: large;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    &:focus{
        outline: none;
    }
}