.navigation_bar{
    position: absolute;
    top: 0px;
    left:0px;
    width: 98%;
    height: 60px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1%;
    box-shadow: 0 10px 10px gray;
    border-radius: 0px 0px 10px 10px;
    background-color: #004D74;

    & .logAndTheme_Container{
        display: flex;
        justify-content: space-between;

        & .log_button{
            border: none;
            border-radius: 5px;
            height: 40px;
            width: 70px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
            background-image: linear-gradient(150deg, #7bb5d2, #006dA4);
            margin-left: 10px;
    
            &:hover{
                background-image: linear-gradient(150deg, #7bb5d25d, #006dA4);
                cursor: pointer;
            }
            
            @media(pointer: coarse){
                margin-right: 5px;
            }
        }
    }

 
    & .logo_container{
        display: flex;

        & img{
            height: 50px;
            object-fit: contain;
        }
    }

}

.lightTheme_style{
    background-image: linear-gradient(135deg, #F0F3FA, #B1C9EF);
}
.darkTheme_style{
    background-image: linear-gradient(135deg, #1a5a66, #07161B);
}
  